.footer{
    background-color: rgb(18, 96, 96);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color:aliceblue
}
.owner input{
    background: rgba(0,0,0,0.6);
}
.owner button{
    padding: .4rem 1rem;
    border-radius: .4rem;
    border: 2px solid rgb(25, 186, 244);
    background-color: rgb(25, 186, 244);
    font-size: 1.2rem;
}